.navbar{

    .navbar-nav{
        justify-content: center;

        .nav-item {
            font-size: 20px;
            padding: 0 8px;
            margin: 0 10px;
            border-radius: 15px;    
            font-weight: bold;
            border: 2px solid darkcyan;

            &:hover{
                transform: scale(0.8);
                transition: all, 0.5s;
            }
        }
    }
}