.info { 
    height: 300px;
    color: black;
    display: grid;
    /* grid-template-areas: "boton texto texto";*/
    grid-template-columns: repeat(2, 1fr); 
    justify-items: center;
    align-items: center;
    padding: 0 30px;
    background-color: silver;

    .info__item--big {
        /*inicia fila. inicia columna, termina fila, termina columna */
        grid-area: 1 / 1 / 2 / 2; 
        /* place-self: center; */
        background-image: linear-gradient(45deg, #406882, #b1d0e0);
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;

        .info-grid {
            display: grid;
            justify-content: center;
            align-items: center;
            margin-left: 23px;

            .info__title {
                margin-top: 20px;

                .info__buttom {
                    display: flex;
                    text-align: center;
                    justify-content: center;
                    justify-items: center;
                    margin-top: 15px;
                    font-size: 18px;
                    margin-right: auto;
                    padding: auto;
                                    
                }    
            }
        }
    
    }

}
.hero__buttom--pointer {
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    text-align: center;
    border: 2px solid darkcyan;
    text-transform: uppercase;

        &:hover {
            background-color: darkcyan;
        }

}

